pallet {
    .pallet {
        position: absolute;
        width: 90%;
        height: 400px;
        background-color: #fff;
        // background: url('../assets/icon/1.png');
        top: 105px;
        left: 50%;
        margin-left: -45%;
        box-shadow: 0px 0px 7px #aaa;
        border-radius: 4px;
    }
}
